html, body{
    background: #181818;
    font-size: 1em;
    font-family: Circular Std;
    margin: 0;
    padding: 0;
}
.containerr{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
}

#head_name{
    color: #c9c9c9;
    font-size: 1.1rem;
    letter-spacing: -0.5px;
}
.glitch:before, .glitch:after {
    display: block;
    content: 'Nakul Joshi';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
    color: #c9c9c9;
  }
  .glitch:after {
    color: #c9c9c9;
    z-index: -2;
  }
  .glitch:before {
    color: #c9c9c9;
    z-index: -1;
  }
  .glitch:hover:before {
    -webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
            animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  }
  .glitch:hover:after {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  }
  @-webkit-keyframes glitch {
    0% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-5px, 5px);
      transform: translate(-5px, 5px);
    }
    40% {
      -webkit-transform: translate(-5px, -5px);
      transform: translate(-5px, -5px);
    }
    60% {
      -webkit-transform: translate(5px, 5px);
      transform: translate(5px, 5px);
    }
    80% {
      -webkit-transform: translate(5px, -5px);
      transform: translate(5px, -5px);
    }
    to {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }
  
  @keyframes glitch {
    0% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-5px, 5px);
      transform: translate(-5px, 5px);
    }
    40% {
      -webkit-transform: translate(-5px, -5px);
      transform: translate(-5px, -5px);
    }
    60% {
      -webkit-transform: translate(5px, 5px);
      transform: translate(5px, 5px);
    }
    80% {
      -webkit-transform: translate(5px, -5px);
      transform: translate(5px, -5px);
    }
    to {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }
  
#main_text{
    color: #9f99e6; 
    font-size: 2.9rem;
    letter-spacing: -0.9px;
    font-weight: 700;
    max-width: 100%;
}
#link_ul{
    padding: 0;
    list-style-type: none;
    display: inline-block;
}
#link_ul li{
    color: #4d4949;
    list-style-type: none;
    display: inline-block;
    padding-right: 8px;
    font-size: 1.1rem;
}
#link_ul a:hover{
    color: #cfcfcf;
}
#link_ul a{
    color: #4d4949;
    text-decoration: none;
}
.foot{
    position: fixed;
    bottom: 0;
    background-color: #9f99e6;
    width: 100%;
    height: 7%;;
}
#main_text{
    -webkit-animation: colorchange 20s infinite alternate;
}
.foot{
    -webkit-animation: colorchange2 20s infinite alternate;

}
@-webkit-keyframes colorchange {
    0% {
      color: #e699a6;
    }
    
    10% {
      
      color: #e699d2;
    }
    
    20% {
      
      color: #cc99e6;
    }
    
    30% {
      
      color: #9f99e6;
    }
    
    40% {
      
      color:#99bfe6;
    }
    
    50% {
      
      color: #99e6df;
    }
    
    60% {
      
      color: #99e6b3;
    }
    
    70% {
      
      color: #ace699;
    }
    80% {
   
      color: #d9e699;
    }
    
    90% {
   
      color: #e6c699;
    }
    
    100% {
      
      color: #e69999;
    }
  }

@-webkit-keyframes colorchange2 {
    0% {
      background-color: #e699a6;
    }
    
    10% {
      
        background-color: #e699d2;
    }
    
    20% {
      
        background-color: #cc99e6;
    }
    
    30% {
      
        background-color: #9f99e6;
    }
    
    40% {
      
        background-color:#99bfe6;
    }
    
    50% {
      
        background-color: #99e6df;
    }
    
    60% {
      
        background-color: #99e6b3;
    }
    
    70% {
      
        background-color: #ace699;
    }
    80% {
   
        background-color: #d9e699;
    }
    
    90% {
   
        background-color: #e6c699;
    }
    
    100% {
      
        background-color: #e69999;
    }
}

  @media screen and (max-width: 600px) {
    #main_text{
        font-size: 1.3rem;
    }
    #head_name{
        font-size: 0.7rem;
    }
    #link_ul li{
        font-size: 0.9rem;
        display: block;
    }
}