<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/nexttech-icon.png') }}">
  <title>Team Satoshi</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!-- main style -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107490980-1"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-107490980-1');
  </script>

  <!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{{ url_for('static', filename='css/mdb.min.css') }}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet">
  <style type="text/css">
    html,
    body,
    header,
    .view {
      height: 100%;
    }

    @media (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: 1050px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .view {
        height: 700px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
              .navbar:not(.top-nav-collapse) {
                  background: #1C2331!important;
              }
          }


  </style>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script type="text/javascript" src="https://cdn.bootcss.com/typed.js/1.1.4/typed.min.js"></script>

  <style type="text/css">

    .write{

      font-size: 22px;

    }

    .containerx{

      text-align: center;

    }

  </style>


</head>

<body>


  <header>

      <!-- Navbar -->
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <div class="container">

          <!-- Brand -->
          <a class="navbar-brand" href="{{ url_for('index') }}">
            <strong>Team Satoshi</strong>
          </a>

          <!-- Collapse -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="https://en.wikipedia.org/wiki/Government_procurement" target="_blank">Procurement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://en.wikipedia.org/wiki/Blockchain" target="_blank">Blockchain</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('developers') }}">Developers</a>
              </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item">
                <a href="https://www.facebook.com/NextTechSRM" class="nav-link" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="https://twitter.com/nexttechlab" class="nav-link" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/936a185caaa266bb9cbe981e9e05cb/936a185caaa266bb9cbe981e9e05cb.github.io" class="nav-link"
                  target="_blank">
                  <i class="fa fa-github mr-2"></i>
                </a>
              </li>
              {% if session['logged_in'] or session['dealer_logged_in'] %}
              <li class="nav-item">
                  <a href="{{ url_for('userpage') }}" class="nav-link border border-light rounded">
                    <i class="fa fa-user mr-2"></i>{{user}}
                  </a>
                </li>&nbsp;&nbsp;
                <li class="nav-item">
                  <a href="{{ url_for('logout') }}" class="nav-link border border-light rounded">
                    <i class="fas fa-sign-out-alt"></i>Log Out
                  </a>
                </li>
              {% else %}
              <li class="nav-item">
                  <a href="{{ url_for('login') }}" class="nav-link border border-light rounded">
                    <i class="fa fa-user mr-2"></i>Login
                  </a>
                </li>&nbsp;&nbsp;
                <li class="nav-item">
                  <a href="{{ url_for('register') }}" class="nav-link border border-light rounded">
                    <i class="fa fa-user mr-2"></i>Sign Up
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar -->

      <!-- Full Page Intro -->
      <div class="view full-page-intro">
      	<div id='particles-js'></div>

        <!--Video source-->


        <!-- Mask & flexbox options-->
        <div class="mask rgba-blue-light d-flex justify-content-center align-items-center">

          <!-- Content -->
          <div class="container">

            <!--Grid row-->
            <div class="row d-flex h-100 justify-content-center align-items-center wow fadeIn">

              <!--Grid column-->
              <div class="col-md-6 mb-4 white-text text-center text-md-left">

                <h1 class="display-6 font-weight-bold">Where Public Procurement meets Blockchain</h1>

                <hr class="hr-light">

                <p>
                  <strong>The first blockchain-complete public procurement platform</strong> is now live!
                </p>

                <p class="mb-4 d-none d-md-block">
                  The Ethereum-powered procurement platform is built to <strong>keep the middlemen out</strong>, to make sure <strong>the best bidder finds the best dealer</strong>, ensure that <strong>public data is truly public</strong> and <strong>common citizen's money isn't fiddled with</strong>.
                </p>

                <a href="{{ url_for('portal') }}" class="btn btn-outline-white">e-Procurement Portal
                  <i class="fas fa-dollar-sign"></i>
                </a>
                <a href="{{ url_for('whitepaper') }}" class="btn btn-outline-white">Whitepaper
                  <i class="fa fa-download ml-2"></i>
                </a>
                
                

              </div>
              <!--Grid column-->
              
              

              <!--Grid column-->
              <div class="col-md-6 col-xl-5 mb-4">

              	<!--https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png-->
                <img src="{{ url_for('static', filename='./img/surface.png') }}" alt="" class="img-fluid">

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

          </div>
          <!-- Content -->

        </div>
        <!-- Mask & flexbox options-->

      </div>
      <!-- Full Page Intro -->

      <div class="slider-navigation">
			<div class="nav-pointer draggable">
				0/0
			</div>
		</div>

  </header>

  <!--Main layout-->
  <main>
    <div class="container">

      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">

      	<center>

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <img src="./img/corruption.jpg" class="img-fluid z-depth-1-half" alt="">

          </div>
          <div class="col-md-6 mb-4">

            <img src="./img/solution.svg" height="277" width="300" class="img-fluid z-depth-1-half" alt="">

          </div>
          <!--Grid column-->




          <!--Grid column-->
          <div class="col-md-6 mb-4">

          	

            <!-- Main heading -->
            <h3 class="h3 mb-3">Traditional systems are at their worst</h3>
            <p>Procurement deals are ridden with corruption, delays and inefficiency.</p>


<script type="text/javascript">

  $(function(){

        $(".write").typed({

            strings: ["Welcome to ItSolutionStuff.com!", "Thanks for visit"],

            typeSpeed: 1,

        });

    });

</script>

            <img src="{{ url_for('static', filename='img/problem.png') }}" alt="problems" height=auto width="600">
            <!-- Main heading -->

            <hr>

            <p>
              Bidding process is <strong>corrupted</strong> by middlemen,<br>
              <strong>Collusions</strong> are formed to reduce competition,<br>
              Papers are kept secret to damage <strong>transparency</strong>
            </p>

            
            <a target="_blank" href="https://www.canva.com/design/DAC1D1KQfTc/oaPtw7XUENOTd31bMF3GXw/embed-responsive-item" class="btn btn-indigo btn-md">Statistics
              <i class="fa fa-download ml-1"></i>
            </a>
			
		

          </div>
          <!--Grid column-->

          <div class="col-md-6 mb-4">

            <!-- Main heading -->
            <h3 class="h3 mb-3">e-Procurement systems are better</h3>
            <p>But only when the database is transparent and immutable.</p>

            <img src="{{ url_for('static', filename='img/problem2.png') }}" alt="problems">

          </div>

        </div>
        <!--Grid row-->

        </center>

      </section>
      <!--Section: Main info-->
     
     
      <hr class="my-5">

      <!--Section: Main features & Quick Start-->
      <section>

        <h3 class="h3 text-center mb-5">Why Blockchain</h3>

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4">

            <!--First row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-code fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Smart Contracts</h5>
                <p class="grey-text">All the code's law and dealers and contractors are merely players</p>
              </div>
            </div>
            <!--/First row-->

            <div style="height:30px"></div>

            <!--Second row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-cloud fa-2x blue-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">IPFS</h5>
                <p class="grey-text">Where storage is free and is not censored up by giants
                </p>
              </div>
            </div>
            <!--/Second row-->

            <div style="height:30px"></div>

            <!--Third row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-ioxhost fa-2x cyan-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Web3</h5>
                <p class="grey-text">Where the basic privacy of customers has not lost its way into centralized systems</p>
              </div>
            </div>
            <!--/Third row-->

          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-12">

            <!--<p class="h5 text-center mb-4">Our system explained</p>-->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/55RoBoMfOVo" allowfullscreen></iframe>
            </div>
          </div>
          <!--/Grid column-->

        </div>
        <!--/Grid row-->

      </section>
      <!--Section: Main features & Quick Start-->

      <hr class="my-5">

      <!--Section: Not enough-->
      <section>

        <h2 class="my-5 h3 text-center">The Fault in Our Roots</h2>

        <!--First row-->
        <div class="row features-small mb-5 mt-3 wow fadeIn">

          <!--First column-->
          <div class="col-md-4">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-times fa-2x red-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Plagued with bribery</h6>
                <p class="grey-text">The OECD 2014 report on foreign bribery says 57% of all bribes to foreign officials were to obtain public procurement contracts.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-times fa-2x red-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Collusions to bias the system</h6>
                <p class="grey-text">Due to the nature of competitive auctions there is a strong incentive for selfish anti-trust behaviour which manifests itself in legal and illegal ways.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-times fa-2x red-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Sluggish and inefficient</h6>
                <p class="grey-text">The public procurement process is far from a smooth one - involves delays, bullying and even organized crime.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Third row-->

            <!--Fourth row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-times fa-2x red-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Tender fixing</h6>
                <p class="grey-text">Contractors are coerced or treated unfairly during the tenure of the tender discouraging private ventures.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Fourth row-->
          </div>
          <!--/First column-->

          <!--Second column-->
          <div class="col-md-4 flex-center">
            <img src="{{ url_for('static', filename='./img/confused.png') }}" alt="MDB Magazine Template displayed on iPhone" class="z-depth-0 img-fluid">
          </div>
          <!--/Second column-->

          <!--Third column-->
          <div class="col-md-4 mt-2">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Code is law</h6>
                <p class="grey-text">Bidding using Ethereum smart contract auctions, documents on IPFS.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Everyone is watching</h6>
                <p class="grey-text">Using a public ledger as a rock-bed for all transactional evidence forces transparency onto officials and contractors keeps the procurement process auditable by third parties like journalists and government watchdog groups.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Open yet protected</h6>
                <p class="grey-text">Using homomorphic encryption and zero-knowledge proofs, we can audit and prove fairness of an auction while simultaneously holding back specific information about the bidders private until the auction is completed.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Third row-->

          </div>
          <!--/Third column-->

        </div>
        <!--/First row-->

      </section>
      <!--Section: Not enough-->



      <hr class="mb-5">

      <!--Section: More-->
      <section>

        <h2 class="my-5 h3 text-center">Core features preserved, Integrity and Usability enhanced</h2>

        <!--First row-->
        <div class="row features-small mt-5 wow fadeIn">

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-chrome fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2 pl-3">
                <h5 class="feature-title font-bold mb-1">Wide compatibility</h5>
                <p class="grey-text mt-2">With most popular browsers from Chrome, Firefox, Safari, Brave supporting MetaMask, compatibility isn't a hurdle any longer.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-level-up fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Massively scalable</h5>
                <p class="grey-text mt-2">With Ethereum as the global network for computation and transaction processing, there are no more servers overloading and failing.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-code fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Autonomous transactions</h5>
                <p class="grey-text mt-2">With smart contracts governing transactions, justice to tenders is embedded immutably into the code.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-desktop fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Essentials without clutter</h5>
                <p class="grey-text mt-2">With clearly indicative UI, tender opportunities are not slipped away from the deserving.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

        </div>
        <!--/First row-->

        <!--Second row-->
        <div class="row features-small mt-4 wow fadeIn">

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-cubes fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Immutability</h5>
                <p class="grey-text mt-2">A transaction / bid / bill once confirmed is embedded into the blockchain and goes deeper every unit of time.</p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-superpowers fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">User-friendly</h5>
                <p class="grey-text mt-2">Where there is transparency, there is clarity.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-th fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Decentralized</h5>
                <p class="grey-text mt-2">Government and public bodies are auditors of themselves.</p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-file-code-o fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Feature</h5>
                <p class="grey-text mt-2">This is another feature</p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

        </div>
        <!--/Second row-->

      </section>
      <!--Section: More-->

    </div>
  </main>
  <!--Main layout-->

  	<div class="site-container">
		<section class="flx-center">
			<div class="text-center">

				<div class="text-center h3">Our blockchain journey so far</div>

				<!-- Block 1 (SHA-256 blockchain) -->
				<div class="one-block">
				<p class="h4 text-center">Block #: 001</p>
				<p><label>Data:</label></p>
				<div class="block-data">
					<p>
					<label>Goal:</label><b>Idea Formulation</b></p>
					<p>
					<label>Research:</label>Market Analysis, Impact Calculation</p>
					<p>
					<label>Progress:</label>Current systems, pitfalls and scopes</p>
					<p>
					<label>Time:</label>April 2018 - April 2018</p>
				</div>
				<div>
					<br>
					<p class="truncate">
					<small><label>Hash: </label>0fdf18af6009579cf35fdc82d130e658bca9037705b3a87142a27daeff138d78</small>
					<br>
					<small><label>&nbsp;</label>"Genesis Block"</small>
					</p>
				</div>
				</div>

				<!-- Block 2 (SHA-256 blockchain) -->
				<div class="one-block latest-block" style="">
				<p class="h4 text-center">Block #: 002</p>
				<p><label>Data:</label></p>
				<div class="block-data">
					<p>
					<label>Goal:</label><b>Prototype Development</b></p>
					<p>
					<label>Research:</label>Challenge areas, Target Markets</p>
					<p>
					<label>Progress:</label>Working product frontend</p>
					<p>
					<label>Time:</label>April 2018 - May 2018</p>
				</div>
				<div>
					<br>
					<p class="truncate">
					<small><label>Hash: </label>830e1d948d6c7dd090e804c9eb94b412f2750ac19cb69d4040ae11dff1d8ef6d</small>
					<br>
					<small><label>Previous Hash: </label>0fdf18af6009579cf35fdc82d130e658bca9037705b3a87142a27daeff138d78</small>
					</p>
				</div>
				</div>

				<br>

				<!-- Block 4 (SHA-256 blockchain) -->
				<div class="one-block">
				<p class="h4 text-center">Block #: 004</p>
				<p><label>Data:</label></p>
				<div class="block-data">
					<p>
					<label>Title:</label><b>Full Stack Developer</b></p>
					<p>
					<label>Company:</label>FarmLead.com</p>
					<p>
					<label>Stack:</label>MySQL, PHP7, JS, HTML5, CSS3, AWS</p>
					<p>
					<label>Time:</label>Feb 2017 - Present</p>
				</div>
				<div>
					<br>
					<p class="truncate">
					<small><label>Hash: </label>2ced301cea95102353465b5c96c2c313ca1ac39c593586fdbcf0692ed50e9538</small>
					<br>
					<small><label>Previous Hash: </label>878d1ef78d76e1cd006b89f323de4dce4064fafe2c38d5c711fe83f5e04bb0b2</small>
					</p>
				</div>
				</div>

				<!-- Block 3 (SHA-256 blockchain) -->
				<div class="one-block">
				<p class="h4 text-center">Block #: 003</p>
				<p><label>Data:</label></p>
				<div class="block-data">
					<p>
					<label>Title:</label><b>Software Application Developer</b></p>
					<p>
					<label>Company:</label>i-Sight Software</p>
					<p>
					<label>Stack:</label>PostgresSQL, Node.js, JS, HTML5, CSS3</p>
					<p>
					<label>Time:</label>Mar 2016 - Feb 2017</p>
				</div>
				<div>
					<br>
					<p class="truncate">
					<small><label>Hash: </label>878d1ef78d76e1cd006b89f323de4dce4064fafe2c38d5c711fe83f5e04bb0b2</small>
					<br>
					<small><label>Previous Hash: </label>830e1d948d6c7dd090e804c9eb94b412f2750ac19cb69d4040ae11dff1d8ef6d</small>
					</p>
				</div>
				</div>

				
				

				</div>
				<!-- <div class="text-center push-to-bottom"><img src='https://www.free-website-hit-counter.com/c.php?d=9&id=106349&s=16' title='vistors'></div> -->
		</section>
	</div>

  <!-- SCRIPTS -->
  <!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>
  
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  

		<div class="parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='img/test-oct-6.png') }}"></div>
		<!-- =================== script =================== -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
		<script src="{{ url_for('static', filename='lib/parallax.js-1.4.2/parallax.min.js') }}"></script>
		<!-- Latest compiled and minified JavaScript -->

		<!-- particles js -->
		<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

		<!-- bootstrap 4.0.0-beta.2 -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

		<!-- main js file -->
		<script src="{{ url_for('static', filename='js/main.js') }}') }}"></script>

		<script>
		$(document).ready(function() {

			styleDefault();

			$('#changestyle .dropdown-menu a').click(function(){
				var style = $(this).data('val');
				switch(style) {
					case 'default':
						styleDefault();
						 break;
					case 'space':
						styleSpace();
						break;
					case 'snow':
						styleSnow();
						break;
					default:
						styleDefault();
				}
				$('#selstyle').text($(this).text());
			});

			/*-------------------------------
				terminal linux style
			-------------------------------*/
			var about_me_content_displayed = false;
			var $lines = $('.command p');
			$lines.hide();

			var lineContents = [];
			var output = [];

			var terminal = function() {
				var skip = 0;
				typeLine = function(idx) {
				idx == null && (idx = 0);
				var element = $lines.eq(idx);
				var content = lineContents[idx];
				if(typeof content == "undefined") {
					$('.skip').hide();
					return;
				}
				var charIdx = 0;

				// console.log(idx);

				var typeChar = function() {
					var rand = Math.round(Math.random() * 150) + 20;

					setTimeout(function() {
					var char = content[charIdx++];
					element.append(char);
					if(typeof char !== "undefined")
						typeChar();
					else {
						element.append('<br/><span class="output">' + output[idx] + '</span>');
						element.removeClass('active');
						typeLine(++idx);
					}
					}, skip ? 0 : rand);
				}
				element.append('[ec2-user@ip-127-0-0-1 ~]$ ').addClass('active');
				typeChar();
				}

				$lines.each(function(i) {
				lineContents[i] = $(this).text();
				output[i] = $(this).next('span').html();
				$(this).text('').show();
				});
				typeLine();
			}

			$(window).scroll(function() {
				 var hT = $('#terminal-start').offset().top,
					 hH = $('#terminal-start').outerHeight(),
					 wH = $(window).height(),
					 wS = $(this).scrollTop() - 250;
				 if (wS > (hT+hH-wH) && !about_me_content_displayed){
				about_me_content_displayed = true;
				terminal();
				 }
			});
			// end terminal style ------------------------------------


			$('section').each(function() {
				$('.slider-navigation').prepend('<div class="tick"></div>');
			});

			$('.tick').on('click', function() {
				var tickIndex = $(this).index();
				$('body').scrollTop($(window).height() * tickIndex);
			});

			updatePos();

		}); // end document ready


		var isDragging = false;
		var sliderTop, pointerPos, currentSection;

		var bodyHeight = $('body').height();
		var sliderHeight = $('.slider-navigation').height();
		var elementHeight = $('section').height();
		var sectionAmount = $('section').length;
		var scale = (bodyHeight - (elementHeight)) / (sliderHeight - $('.nav-pointer').outerHeight());


		var waitForFinalEvent = (function() {
			var timers = {};
			return function(callback, ms, uniqueId) {
				if (!uniqueId) {
					uniqueId = "resize";
				}
				if (timers[uniqueId]) {
					clearTimeout(timers[uniqueId]);
				}
				timers[uniqueId] = setTimeout(callback, ms);
			};
		})();


		function updatePos() {
			currentSection = $(window).scrollTop() / elementHeight;
			currentSectionNum = Math.ceil(currentSection + 0.01);
			sliderTop = $(window).scrollTop() / scale;
			$('.nav-pointer').css('top', sliderTop).text(currentSectionNum + '/' + sectionAmount);
		}

		function sliderMove(e) {
			$('body').scrollTop(parseInt(e) * scale);
		}

		$(window).scroll(function() {
			if (!isDragging) {
				updatePos();
			}
		});


		$(window).resize(function() {
			waitForFinalEvent(function() {
				bodyHeight = $('body').height();
				sliderHeight = $('.slider-navigation').height();
				elementHeight = $('section').height();
				sectionAmount = $('section').length;
				scale = (bodyHeight - (elementHeight)) / (sliderHeight - $('.nav-pointer').outerHeight());

				updatePos();
			}, 500, "resizing");
		});
		$(".draggable").draggable({
			axis: "y",
			containment: "parent",
			start: function() {
				isDragging = true;
				$('body').addClass('dragging');
			},
			drag: function() {
				pointerPos = $(this).css('top');
				sliderMove(pointerPos);
				updatePos();
			},
			stop: function() {
				isDragging = false;
				$('body').removeClass('dragging');
			}
		});
		</script>

		<!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
    	Transparency is open-source<br>
      <a class="btn btn-outline-white" href="https://github.com/936a185caaa266bb9cbe981e9e05cb/936a185caaa266bb9cbe981e9e05cb.github.io" target="_blank" role="button">View Code
        <i class="fa fa-github-alt ml-2"></i>
      </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/mdbootstrap" target="_blank">
        <i class="fa fa-facebook mr-3"></i>
      </a>

      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fa fa-twitter mr-3"></i>
      </a>

      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fa fa-youtube mr-3"></i>
      </a>

      <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
        <i class="fa fa-google-plus mr-3"></i>
      </a>

      <a href="https://dribbble.com/mdbootstrap" target="_blank">
        <i class="fa fa-dribbble mr-3"></i>
      </a>

      <a href="https://pinterest.com/mdbootstrap" target="_blank">
        <i class="fa fa-pinterest mr-3"></i>
      </a>

      <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
        <i class="fa fa-github mr-3"></i>
      </a>

      <a href="http://codepen.io/mdbootstrap/" target="_blank">
        <i class="fa fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2018 Copyright:
      <a href="https://nextech.io" target="_blank"> nextech.io </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

  <div class="containerx">

  <span class="write"></span>

</div>

</body>

</html>
