<!DOCTYPE html>
<html>
<head>
	<title>hello</title>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

<style type="text/css">
	body { margin: 0; }
div {
	position: fixed;
	font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

.a {
	left: 0;
	top: 0;
	right: 51%;
	bottom: 51%;
	background-size: cover;
}

.b {
	left: 51%;
	top: 25.5%;
	right: 0;
	bottom: 25.5%;
	background-attachment: fixed;
}

.c {
	left: 0;
	top: 51%;
	right: 51%;
	bottom: 0;
	background-size: cover;
}

.error {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.8);
	color: #eee;
	padding: 20px;
	display: none;
}
</style>

</head>
<body>

	<div class="c" style="background-image:url(http://placekitten.com/600/700)">
</div>

<script src="http://www.jqueryscript.net/demo/jQuery-Plugin-For-Water-Ripple-Animation-ripples/js/jquery.ripples.js">
</script>
<script type="text/javascript" src="./hello.js"></script>

</body>
</html>