<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bidder Reg Form</title>

    <link rel="stylesheet" type="text/css" href="main.css">

    <script src="./node_modules/web3/dist/web3.min.js"></script>

</head>
<body>
    <div class="container">

        <h1>Bidder Registration</h1>

        <h2 id="instructor"></h2>

        <label for="name" class="col-lg-2 control-label">Bidder Name</label>
        <input id="name" type="text">

        <label for="name" class="col-lg-2 control-label">Bidder Registration No.</label>
        <input id="age" type="text">

        <button id="button">Register Bidder</button>


    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <script>
       if(typeof web3 !== 'undefined')
       {
         web3 = new Web3(web3.currentProvider);
       }
       else
       {
         web3 = new Web3(new Web3.providers.HttpProvider("http://worriedx-hands.surge.sh/"));
       }
       web3.version.getNetwork((err, netId) => {
  switch (netId) {
    case "1":
      console.log('This is mainnet')
      break
    case "2":
      console.log('This is the deprecated Morden test network.')
      break
    case "3":
      console.log('This is the ropsten test network.')
      break
    case "4":
      console.log('This is the Rinkeby test network.')
      break
    case "42":
      console.log('This is the Kovan test network.')
      break
    default:
      console.log('This is an unknown network.')
  }
})

       web3.eth.defaultAccount=web3.eth.accounts[0];

       var testContract = web3.eth.contract([
	{
		"constant": false,
		"inputs": [
			{
				"name": "_fName",
				"type": "string"
			},
			{
				"name": "_age",
				"type": "uint256"
			}
		],
		"name": "setInstructor",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "getInstructor",
		"outputs": [
			{
				"name": "",
				"type": "string"
			},
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	}
]);


var test = testContract.at("0xe241f23c854E7036B86E116C56A0A707b32e4f67");
console.log(test);

test.getInstructor(function(error,result){
  if(!error)
  {
    $("#instructor").html(result[0]+" has the reg. number "+result[1]);
  }
  else {
    console.log(error);
  }
});

$("#button").click(function() {
  test.setInstructor($("#name").val(),$("#age").val(),(error,result) => (console.log(result)));
});


</script>
</body>
</html>
